.about-me {
    color: black;
    background-color: white;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

.about-me h2 {
    font-size: 40px;
    padding: 100px;
    text-align: center;
}