.resume {
    display: flex;
    background-color: #3B3B3B;
    background-image: url('backgrounds/subtle-prism.svg');
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 5vh 5vw;
    min-height: 100vh;
}

.education, .experience {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 10px auto;
    padding: 20px;
    
}

.section-title {
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-align: left;
    font-weight: bold;
    padding: 20px;
}


.education-card, .experience-card {
    margin: 25px 0;
    padding: 20px;
    font-weight: bold;
    background-color: whitesmoke;
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.education-card ul {
    color: rgb(37, 37, 37);
    width: 80%;
    font-weight: lighter;
    margin: 10px;
    line-height: 150%;

}

.name {
    font-size:30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.resume h3 {
    font-size: 20px;
    color: rgb(66, 66, 66);
}

.resume p {
    margin-top: 20px;
    color: rgb(37, 37, 37);
    font-weight: normal;
}

@media screen and (max-width: 1500px) {
    .education, .experience {
        flex-direction: column;
        width: 80vw;
        padding: 20px;
        
    }

    .section-title {
        font-size: 46px;
        text-align: center;
    }

    .education-card, .experience-card {
        margin: 25px 0;
    }
}

@media screen and (max-width: 500px) {
    .section-title {
        font-size: 36px;
        padding: 0;
    }
    
}