.resume {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
    color: whitesmoke;
    padding: 5vh 5vw;
    min-height: 100vh;
}

.education, .experience {
    display: flex;
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.575) solid;
    
}

.section-title {
    width: 35%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    width: 65%;
}

.education-card, .experience-card {
    padding: 20px;
    font-weight: bold;
}

.name {
    font-size:30px;
    margin-bottom: 20px;
}

.resume h3 {
    font-size: 20px;
    color: grey;
}

.resume p {
    margin-top: 20px;
    color: white;
    font-weight: normal;
}

@media screen and (max-width: 1000px) {
    .education, .experience {
        flex-direction: column;
    }

    .section-title {
        color: teal;
    }
}

