.projects-page {
    display: flex;
    color: black;
    flex-direction: column;
    background-color: grey;
    padding-bottom: 8vh;
}


.projects-page h2 {
    font-size: 40px;
    padding: 100px;
    text-align: center;
}

.project-container {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-card {
    background-color: white;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 40%;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.3s;
}

.project-card h4 {
    font-size: 24px;
}

.project-card a {
    color: inherit;
}

.project-card a:hover {
    color: cyan;
}

.project-card:hover {
    background-image: none;
}


@media screen and (max-width: 1000px) {
    .project-container {
        flex-direction: column;
    }

    .project-card {
        margin: 50px auto;
        width: 80%;
    }
}

