.projects-page {
    display: flex;
    color: black;
    flex-direction: column;
    padding-bottom: 8vh;
    min-height: 100vh;
}


.projects-page h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vw;
    width: 60vw;
    margin: 4vw auto;
    font-weight: bolder;
    text-align: left;
}

.project-container {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    min-height: 200px;
    width: 40%;

    max-width: 600px;
    margin: 20px 0;
    padding: 15px;
    border: 1px black solid;
}

.project-card h4 {
    font-size: 24px;
}

.project-card a {
    color: inherit;
}

.project-card a:hover {
    color: cyan;
}

.project-card img {
    margin: 20px 0;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .project-container {
        flex-direction: column;
        width: 80vw;
        min-width: 350px;
    }

    .projects-page h2 {
        font-size: 36px;
        text-align: center;
        margin-top: 40px;
    }

    .project-card {
        margin: 10px auto;
        width: 80%;
    }
}
